@model ForgotPasswordViewModel

<h2>Forgot Password</h2>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        <p>An error occurred while processing your request:</p>
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
            @ViewBag.User
        </ul>
    </div>
}
 

    <form asp-action="ForgotPassword" asp-controller="Account" method="post">
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Enter your email" value="@Model.Email" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
